<div class="modal fade in" id="languageSwitcher">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header text-center">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title">Change language</h4>
			</div>
			<div class="modal-body">
				<p>
					Hey there! We've detected that you're visiting from <strong>{{ prefered.country }}</strong> but the current language is set to <strong>{{ current.language }}</strong>.
				</p>
				<p>
					Do you want to change the language to <strong>{{ prefered.language }}</strong>?
				</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">No thanks</button>
				<a href="{{ prefered.url }}" class="btn btn-primary">Change language to {{ prefered.language }}</a>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
	if ('{{ current.locale }}' != '{{ prefered.locale }}' && {{ prefered.enabled ? 'true' : 'false' }} && readCookie('languageSwitcher') != 'false') {
		$('#languageSwitcher').modal('show');
	}

	$('#languageSwitcher').on('hidden.bs.modal', function () {
	    createCookie('languageSwitcher', false, {{ preference('openclassify.plugin.language_switcher::cookie') }});
	})

	function createCookie(name,value,days) {
		var expires = "";
		if (days) {
			var date = new Date();
			date.setTime(date.getTime() + (days*24*60*60*1000));
			expires = "; expires=" + date.toUTCString();
		}
		document.cookie = name + "=" + value + expires + "; path=/";
	}

	function readCookie(name) {
		var nameEQ = name + "=";
		var ca = document.cookie.split(';');
		for(var i=0;i < ca.length;i++) {
			var c = ca[i];
			while (c.charAt(0)==' ') c = c.substring(1,c.length);
			if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length,c.length);
		}
		return null;
	}

	function eraseCookie(name) {
		createCookie(name,"",-1);
	}
</script>