<li class="{{ container.class }} language-navigation-field {{ toggle.class|raw }}">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ toggle.title|raw }}<span class="caret"></span></a>
    <ul class="dropdown-menu">
        {% for locale in locales %}
            <li class="lang-row"><a href="#" onclick="window.location = '?_locale={{ locale.name }}'"><img src="{{ img('theme::images/flags/'~locale.name~'.png').url }}" class="lang-flag" >  {{ trans('streams::locale.' ~ locale.name ~ '.name') }} ({{ locale.name }})</a></li>
        {% endfor %}
    </ul>
</li>

